#### 시리즈와 데이터프레임 만들기

In [2]:
import pandas as pd

s = pd.Series(['banana',56])
print(s)

0    banana
1        56
dtype: object

#### 문자열 인덱스 지정하기 - index=[]

In [3]:
s = pd.Series(['Wes Macney', 'Creater of Pandas'], index=['Person','Who'])
print(s)

Person           Wes Macney
Who       Creater of Pandas
dtype: object

In [5]:
scientist =pd.DataFrame({
    'Name':['Stella Fisher', 'Jason Derulo'],
    'Occupation':['Chemist', 'Statistician'],
    'Born':['1920-07-25', '1980-03-23'],
    'Died':['2001-06-07', '2020-05-04'],
    'Age' : [81,45]
})
print(scientist)

            Name    Occupation        Born        Died  Age
0  Stella Fisher       Chemist  1920-07-25  2001-06-07   81
1   Jason Derulo  Statistician  1980-03-23  2020-05-04   45

In [7]:
scientist =pd.DataFrame({
    'Occupation':['Chemist', 'Statistician'],
    'Born':['1920-07-25', '1980-03-23'],
    'Died':['2001-06-07', '2020-05-04'],
    'Age' : [81,45]
}, index=['Stell Fisher','Jason Derulo'])
print(scientist)

                       Name    Occupation        Born        Died  Age
Stell Fisher  Stella Fisher       Chemist  1920-07-25  2001-06-07   81
Jason Derulo   Jason Derulo  Statistician  1980-03-23  2020-05-04   45

##### OrderedDict : 순서가 보장된 딕셔너리로 데이터 프레임 만들기

In [12]:
from collections import OrderedDict
scientists=pd.DataFrame(OrderedDict([
    ('Name',['Stella Fisher', 'Jason Derulo']),
    ('Occupation',['Chemist', 'Statistician']),
    ('Born',['1920-07-25', '1980-03-23']),
    ('Died',['2001-06-07', '2020-05-04']),
    ('Age' , [81,45])
]))
                        
print(scientists)

            Name    Occupation        Born        Died  Age
0  Stella Fisher       Chemist  1920-07-25  2001-06-07   81
1   Jason Derulo  Statistician  1980-03-23  2020-05-04   45

#### 시리즈 다루기

In [21]:
scientist =pd.DataFrame({
    'Occupation':['Chemist', 'Statistician'],
    'Born':['1920-07-25', '1980-03-23'],
    'Died':['2001-06-07', '2020-05-04'],
    'Age' : [81,45]
}, index=['Stell Fisher','Jason Derulo'])
print(scientist)

                Occupation        Born        Died  Age
Stell Fisher       Chemist  1920-07-25  2001-06-07   81
Jason Derulo  Statistician  1980-03-23  2020-05-04   45

In [22]:
first_row = scientist.loc['Jason Derulo']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1980-03-23
Died            2020-05-04
Age                     45
Name: Jason Derulo, dtype: object

In [24]:
print(first_row.values)

['Statistician' '1980-03-23' '2020-05-04' 45]

In [25]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [27]:
print(first_row.index[0])
print(first_row.keys()[0])

Occupation
Occupation

#### 시리즈의 기초 통계 메서드 사용하기

    1. append() : 2개 이상 시리즈 연결
        
    2. describe() : 요약 통계량 계산
        
    3. drop_duplicates : 중복값이 없는 시리즈 반환
    
    4. equals() : 시리즈에 해당 값을 가진 요소가 있는지 확인
    
    5. replace() : 특정 값을 가진 시리즈 값 교체
    
    6. sort_values() : 값을 정렬
    
    7. to_frame() : 시리즈를 데이터프레임으로 변환

In [33]:
ages = scientist['Age']
print(ages)

Stell Fisher    81
Jason Derulo    45
Name: Age, dtype: int64

In [34]:
print('mean :',ages.mean())

print('min_value: ',ages.min())

print('max_value: ',ages.max())

print('std : ',ages.std())

mean : 63.0
min_value:  45
max_value:  81
std :  25.45584412271571

In [37]:
scientists = pd.read_csv('data/scientists.csv')

In [38]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [40]:
print(ages[ages>ages.mean()])
print()
print(ages>ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

#### Boolean 추출
    :리스트 형태로 참이나 거짓 data를 시리즈에 전달하면 참인 인덱스 데이터만 추출
    
#### BroadCasting
    : 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것

In [41]:
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

#### 벡터 연산 -길이가 서로 다른 벡터의 연산

    1. 시리즈와 시리즈 연산 : 같은 인덱스값만 계산
        
    2. 길이가 다른 벡터 연산 : 인덱스가 일치한 칼럼끼리만 계산, 나머지는 NaN처리

In [43]:
print(pd.Series([1,100]))
print()
print(ages + pd.Series([1,100]))

0      1
1    100
dtype: int64

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [44]:
#sort_index () : 인덱스 정렬 
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [46]:
print(ages+rev_ages)
print()
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 데이터 프레임 - Boolean 추출

In [49]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

#### 열의 자료형 바꾸기와 새로운 열 추가하기

In [50]:
print(scientists['Born'].dtype)

object

In [53]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)
print()
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [55]:
scientists['born_dt'], scientists['died_dt']=born_datetime, died_datetime
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [56]:
scientists['age_days_dt']= (scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

#### 시리즈, 데이터 프레임의 데이터 섞기
    : random.shuffle()로 데이터 섞기

In [57]:
import random

random.seed(42)

random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\Users\user\Anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

#### 데이터프레임의 열 삭제하기
    :drop() 함수로 열 삭제하기

In [60]:
scientists_dropped = scientists.drop(['Age'],axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

#### 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기
    
    1. to_pickle() 로 바이너리 형태로 직렬화한 오브젝트 저장
    
    2. pickle 데이터는 바이너리 형태이므로 read_pickle()로만 읽을 수 있음
    
    3. to_csv() 로 csv, tsv 파일 형태로 저장

In [65]:
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

scientists.to_pickle('output/scientists_df.pickle')

In [75]:
scientists_names_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')

print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [76]:
#tsv 파일은 read_csv() 의 sep을 '\t'로 설정
scientists.to_csv('output/scientists_df.tsv',sep='\t')